<template name="userDropdown">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle link" data-toggle="dropdown" role="button">{{userDisplayName}} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="{{pathFor 'profile'}}">{{_ 'profile'}}</a></li>
      {{#if isAdmin}}
      <li><a href="{{pathFor 'sysSettings'}}">{{_ 'sysSettings'}}</a></li>
      {{/if}}
      <li class="divider"></li>
      <li><a href="/sign-out">{{_ "signout"}}</a></li>
    </ul>
  </li>
</template>
