<template name="links">
  <div class="g-links container-fluid">
    <div class="row">
      {{#each links}}
      <div class="col-sm-4 col-md-3">
        <div class="m-link">
          <a href="{{url}}" target="_blank" class="g-content">
            <div class="g-box0">
              {{label}}
            </div>
            <div class="g-box1">
              <img src="{{thumbnailSrc thumbnail}}">
            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</template>
