.layout {
	height: 100%;
	display: flex;
	flex-direction: column;
	.main-content {
		display: flex;
		flex-grow: 1;
		background-position: center;
		background-size: cover;
		position: relative;
		div[data-momentum] {
			flex-grow: 1;
			position: relative;
			> div:nth-child(2) {
				top: 0 !important;
				&:not(.container) {
					position: absolute !important;
					width: 100%;
				}
			}
		}
	}
}
