<template name="sysSettings">
  <div class="sysSettings">
	  <div class="container me-nav-container">
	    <div class="row">
	      <div class="col-sm-3 col-sm-offset-1">
	        {{> meNav active='sysSettings'}}
	      </div>
	      <div class="col-sm-7">
	      	<section>
		        {{#autoForm id="sysSettingsForm" collection="SysSettings" type=formType doc=sysSettings}}
		        	{{>afQuickField name="schoolName"}}
							{{>afQuickField name="signInBackground"}}
							<button type="submit" class="btn btn-primary">保存</button>
						{{/autoForm}}
					</section>

					<section>
					  <div class="form-group">
					    <label class="control-label">导入用户数据</label>
					    <div>
					      <button class="btn btn-default af-select-file js-af-select-file">
					        选择文件
					        <input id="init-file" type="file" class="js-file">
					      </button>
					    </div>
					  </div>
					</section>

					{{> sAlert}}
	      </div>
	    </div>
    </div>
  </div>
</template>
