<template name="personalize">
  <div class="personalize">
	  <div class="container me-nav-container">
	    <div class="row">
	      <div class="col-sm-3 col-sm-offset-1">
	        {{> meNav active='personalize'}}
	      </div>
	      <div class="col-sm-7">
	      	{{#autoForm id="accountUpdateWallpaper" collection=Users type="update" doc=currentUser}}
		      	{{>afQuickField name="profile.wallpaper"}}
						<button type="submit" class="btn btn-primary">保存</button>
					{{/autoForm}}
	      </div>
	    </div>
	  </div>
  </div>
</template>
