.template-navbar {
  .navbar {
    margin-bottom: 0;
    background: @dark-blue;
    border: none;
    border-radius: 0;
    .navbar-nav {
      &.navbar-left {
        .navbar-brand {
          font-weight: 200;
        }
      }
    }
  }
}
