<template name="home">
  <div class="home">
    <div class="row">
      <div class="g-left">
        <ul>
          {{#each navs}}
          <li class="m-nav-item {{#if isNavSelected @index}} active {{/if}}">
            <i class="{{icon}}"></i>{{label}}
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="g-right">
        <div class="m-nav-content">
        	{{#if templateData}}
          {{> Template.dynamic template=contentTemplate data=templateData}}
        	{{else}}
        	{{> Template.dynamic template=contentTemplate}}
        	{{/if}}
        </div>
      </div>
      {{#if isTeacher}}
				{{> contacts}}
			{{/if}}
    </div>
  </div>
</template>
