<template name="profile">
  <div class="profile">
	  <div class="container me-nav-container">
	    <div class="row">
	      <div class="col-sm-3 col-sm-offset-1">
	        {{> meNav active='profile'}}
	      </div>
	      <div class="col-sm-7">
	      	{{> sAlert}}
	      	<section>
		        {{#autoForm id="accountUpdateProfile" collection=Users type="update" doc=currentUser validation="none"}}
						{{>afQuickField name="profile.picture"}}
						{{>afQuickField name="profile.name"}}
						{{>afQuickField name="profile.gender"}}
						{{>afQuickField name="profile.birthday"}}
						{{>afQuickField name="profile.mobile"}}
						<button type="submit" class="btn btn-primary btn-sm">更新</button>
						{{/autoForm}}
					</section>
	      </div>
	    </div>
    </div>
  </div>
</template>
