.contacts {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  background: @light-blue;
  .m-bar {
    display: flex;
    align-items: stretch;
    line-height: 36px;
    min-height: 36px;
    max-height: 36px;
    i {
      font-size: 21px;
      text-align: center;
      width: 36px;
    }
  }
  .m-contact-item {
    overflow: hidden;
    padding: 0 15px;
    cursor: default;
    &:hover {
      background: #E5E9F2;
    }
    img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
    .m-contact-head {
    	width: 48px;
    	height: 48px;
    	margin-right: 8px;
    	border-radius: 24px;
    	overflow: hidden;
    	text-align: center;
    	background: #D3DCE6;
    	i {
    		display: block;
    		margin-top: -4px;
    		font-size: 48px;
    		vertical-align: middle;
    	}
    }
  }
  &.contacts-expanded {
    display: flex;
    flex-direction: column;
    height: 100%;
    .g-list {
      flex-grow: 1;
      overflow: auto;
      ul {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        li {
          display: flex;
          height: 60px;
          align-items: center;
        }
      }
    }
    .m-bar {
      background: white;
      input {
        height: 36px;
        flex-grow: 1;
        width: 0;
      }
    }
  }
  &.contacts-folded {
    height: 36px;
    .m-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
