<template name="contacts">
	<div class="contacts {{contactsState}}">
	{{#if expanded}}
		{{> contactsExpanded}}
	{{else}}
		{{> contactsFolded}}
	{{/if}}
	</div>
</template>

<template name="contactsExpanded">
	<div class="g-list">
		<ul>
			{{#each contacts}}
				<li class="m-contact-item" data-uid="{{_id}}">
					<img class="img-circle" src="{{userHeadImageSrc _id}}">
					{{userDisplayName _id}}
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="m-bar">
		<i class="ion-ios-search"></i>
		<input type="text" name="" placeholder="搜索">
		<i class="ion-android-close u-close"></i>
	</div>
	{{> contactModalTemplate selectedContact}}
</template>

<template name="contactsFolded">
	<div class="m-bar">
		<i class="ion-ios-people"></i>通迅录
	</div>
</template>

<template name="contactModalTemplate">
	<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<div class="modal-title" id="contactModalLabel">联系人详情</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="g-left">
						<img src="{{userHeadImageSrc _id}}" class="img-circle">
						{{userDisplayName _id}}
					</div>
					<div class="g-right">
						<dl class="dl-horizontal">
							<dt>姓名</dt>
							<dd>{{profile.name}}</dd>
							<dt>邮箱</dt>
							<dd>{{userEmail this}}</dd>
							<dt>手机</dt>
							<dd>{{profile.mobile}}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


