.contacts {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  background: @light-blue;
  .m-bar {
    display: flex;
    align-items: center;
    height: 36px;
    i {
      font-size: 21px;
    }
  }
  .m-contact-item {
    overflow: hidden;
    padding: 0 15px;
    cursor: default;
    &:hover {
      background: #E5E9F2;
    }
    img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
  }
  &.contacts-expanded {
    display: flex;
    flex-direction: column;
    height: 100%;
    .g-list {
      flex-grow: 1;
      overflow: auto;
      ul {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        li {
          display: flex;
          height: 60px;
          align-items: center;
        }
      }
    }
    .m-bar {
      background: white;
      input {
        height: 100%;
        flex-grow: 1;
        width: 0;
      }
      i {
        min-width: 32px;
        max-width: 32px;
        text-align: center;
      }
    }
  }
  &.contacts-folded {
    height: 36px;
    .m-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      i {
        margin-left: 15px;
        margin-right: 8px;
      }
    }
  }
}
