.contacts {
  width: 200px;
  background: @light-blue;
  .m-bar {
    display: flex;
    align-items: stretch;
    line-height: 36px;
    min-height: 36px;
    max-height: 36px;
    i {
      font-size: 21px;
      text-align: center;
      width: 36px;
    }
  }
  .m-contact-item {
    overflow: hidden;
    padding: 0 15px;
    cursor: default;
    &:hover {
      background: #E5E9F2;
    }
    img {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
    span {
    	text-overflow: ellipsis;
    	overflow: hidden;
    }
    .m-contact-head {
      width: 48px;
      min-width: 48px;
      height: 48px;
      margin-right: 8px;
      border-radius: 24px;
      overflow: hidden;
      text-align: center;
      background: #D3DCE6;
      i {
        display: block;
        margin-top: -4px;
        font-size: 48px;
        vertical-align: middle;
      }
    }
  }
  &.contacts-expanded {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 200px;
    max-width: 200px;
    .g-list {
      flex-grow: 1;
      overflow: auto;
      ul {
        list-style-type: none;
        margin: 10px 0;
        padding: 0;
        li {
          display: flex;
          height: 60px;
          align-items: center;
        }
      }
    }
    .m-bar {
      background: white;
      border: 1px solid @light-blue;
      box-sizing: border-box;
      .u-filter {
        flex-grow: 1;
        input {
          width: 100%;
          height: 34px;
          border: none;
        }
      }
    }
  }
  &.contacts-folded {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 36px;
    .m-bar {
      position: absolute;
      bottom: 0;
      width: 100%;
      cursor: default;
    }
  }
}

#contact-modal {
  .modal-dialog {
    width: 360px;
    margin: 30px auto;
    .modal-content {
      border-radius: 0;
      .modal-header {
        height: 38px;
        background: @light-blue;
        padding: 0;
        display: flex;
        align-items: center;
        .modal-title {
          font-size: 14px;
          color: #475669;
          flex-grow: 1;
          padding-left: 12px;
        }
        button {
          vertical-align: middle;
          flex-grow: 0;
          flex-shrink: 0;
          width: 38px;
          height: 38px;
        }
      }
      .modal-body {
        padding: 0;
        display: flex;
        flex-direction: row;
        .g-left {
          display: flex;
          flex-direction: column;
          background: rgba(238, 242, 247, 0.30);
          min-height: 180px;
          width: 108px;
          min-width: 108px;
          max-width: 108px;
          img {
            margin-top: 28px;
            width: 48px;
            height: 48px;
            margin-bottom: 10px;
            align-self: center;
          }
          span {
          	padding: 0 10px;
          	text-overflow: ellipsis;
          	overflow: hidden;
          	align-self: stretch;
          	text-align: center;
          }
        }
        .g-right {
          background: white;
          padding: 20px;
          dl {
            dt {
              width: 30px;
              height: 24px;
            }
            dd {
              margin-left: 50px;
              height: 24px;
            }
          }
        }
      }
    }
  }
}
