<template name="customAtTitle">
  <div class="at-title">
    {{#if isSignIn}}
      <h3>{{schoolName}}校园智慧平台登录</h3>
    {{else}}
      <h3>{{title}}</h3>
    {{/if}}
    <hr>
  </div>
</template>

<template name="customAtPwdForm">
  <div class="at-pwd-form">
    {{#if isSignIn}}
      <form role="form" id="at-pwd-form" novalidate action="#" method="POST">
        <fieldset>
          <!--用户名-->
          <div class="input-group">
            <div class="input-group-addon" style="padding: 0">
              <select class="selectpicker" name="role">
                <option value="tid">老师</option>
                <option value="sid">学生</option>
                <option value="pid">家长</option>
              </select>
              <span class="caret"></span>
            </div>
            <input type="text" class="form-control" id="at-field-username_and_email-dummy" name="at-field-username_and_email-dummy" placeholder="用户名" autocapitalize="none" autocorrect="off">
            <input type="hidden" class="form-control" id="at-field-username_and_email" name="at-field-username_and_email" placeholder="用户名" autocapitalize="none" autocorrect="off" value="{{username}}">
          </div>

          <!--密码框-->
          <div class="input-group" style="margin-top: 15px">
            <span class="input-group-addon">密码</span>
            <input type="password" class="form-control" id="at-field-password" name="at-field-password" placeholder="" autocapitalize="none" autocorrect="off">
          </div>

          <button type="submit" class="at-btn submit btn btn-lg btn-block btn-primary {{submitDisabled}}" id="at-btn">
            登录
          </button>
        </fieldset>
      </form>
    {{else}}
      <form role="form" id="at-pwd-form" novalidate action="#" method="POST">
        <fieldset {{disabled}}>
          {{#each fields}}
            {{> atInput}}
          {{/each}}
          {{#if showReCaptcha}}
            {{> atReCaptcha}}
          {{/if}}
          {{#if showForgotPasswordLink}}
            {{> atPwdLink}}
          {{/if}}
          {{> atPwdFormBtn}}
        </fieldset>
      </form>
    {{/if}}
  </div>
</template>
